@model CollageAppMVC.Models.DeptSection
<h3>Section</h3>
<div class="row">
    @using (Ajax.BeginForm("Section", "CollageAppMaster", new AjaxOptions { AllowCache = false, HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "sectionListOutlet", OnSuccess = "onSuccessSectionSubmit" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.HiddenFor(p => p.SectionId)
            @Html.Label("DepartmentId", "Department")
            @Html.DropDownListFor(m => m.DepartmentId, (SelectList)ViewBag.DepartmentsDropDownList, htmlAttributes: new { @id = "DepartmentId", @name = "DepartmentId", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.Label("Name", "Section")
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @name = "Name", @id = "Name", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <input type="submit" id="submit" value="Submit" class="btn btn-default" />
        <button class="btn btn-danger" id="cancel"  onclick="return clrSect()">Cancel</button>
    }
    <br />
</div>
<div class="row" id="sectionListOutlet">
    @Html.Partial("SectionList")
</div>
